<div class="container" style="padding-top: 10px">
  <div class="row text-euphoria text-size-big">
    <div class="col-sm text-center">Hotels</div>
  </div>
  <div class="row font-avenir-book mobile-font">
    <div class="col-sm text-center">Hier findet ihr eine Auswahl an Hotels, die wir euch vorschlagen.
      Hotels, die mit <span><i class="bi bi-info-circle"></i></span> gekennzeichnet sind, müssen telefonisch oder per Email reserviert werden,
      da hier die Buchungsportale für den kommenden Sommer noch nicht freigeschaltet sind.</div>
  </div>
  <div class="row">
    <div class="col-sm text-center mt-2">
      <app-hotelinfo
        hotelName="Rieslinghof"
        infoText="Hier haben wir ein Kontingent, kommt bei Interesse direkt auf uns zu"
        priceDZ="Doppelzimmer 110€"
        priceEZ="Einzelzimmer 80€"
        street="Weinstraße 86"
        city="67157 Wachenheim"
        phone="+49 (0) 6322 9898920"
        email="info@rieslinghof.com"
        bookingLink="https://www.booking.com/hotel/de/rieslinghof.de.html"
        webLink="http://www.rieslinghof.com/">
      </app-hotelinfo>
    </div>
    <div class="col-sm text-center mt-2">
      <app-hotelinfo
        hotelName="Mercure"
        infoText="Hier haben wir ein Kontingent, kommt bei Interesse direkt auf uns zu"
        priceDZ="Doppelzimmer 100€"
        priceEZ="Einzelzimmer 90€"
        street="Kurbrunnenstr. 30-32"
        city="67098 Bad Dürkheim"
        phone="+49 (0) 6322 6010"
        email="H5338@accor.com"
        bookingLink="https://www.booking.com/hotel/de/bad-duerkheim-an-den-salinen.de.html"
        webLink="https://all.accor.com/hotel/5338/index.de.shtml">
      </app-hotelinfo>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center mt-2">
      <app-hotelinfo
        hotelName="Kurparkhotel"
        street="Schlossplatz 1-4"
        city="67098 Bad Dürkheim"
        phone="+49 (0) 6322 797-0"
        email="info@kurpark-hotel.de"
        bookingLink="https://www.booking.com/hotel/de/kurpark.en-gb.html"
        webLink="https://www.kurpark-hotel.de/index.php?lang=de"
        [info]="true">
      </app-hotelinfo>
    </div>
    <div class="col-sm text-center mt-2">
      <app-hotelinfo
        hotelName="Fronmühle"
        street="Salinenstr. 15"
        city="67098 Bad Dürkheim"
        phone="+49 (0) 6322 94090"
        email="info@hotel-fronmuehle.de"
        bookingLink="https://www.booking.com/hotel/de/restaurant-fronma1-4hle.de.html"
        webLink="https://www.hotel-fronmuehle.de/"
        [info]="true">
      </app-hotelinfo>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center mt-2">
      <app-hotelinfo
        hotelName="Kaisergarten"
        street="Weinstr. 12"
        city="67146 Deidesheim"
        phone="+49 (0) 6326 700077"
        email="info@kaisergarten-deidesheim.com"
        bookingLink="https://www.booking.com/hotel/de/kaisergarten-amp-spa-deidesheim.de.html"
        webLink="https://www.kaisergarten-deidesheim.com/"
        [info]="true">
      </app-hotelinfo>
    </div>
    <div class="col-sm text-center mt-2">
<!--      <app-hotelinfo-->
<!--        hotelName="Fronmühle"-->
<!--        street="Salinenstr. 15"-->
<!--        city="67098 Bad Dürkheim"-->
<!--        phone="+49 (0) 6322 94090"-->
<!--        email="info@hotel-fronmuehle.de"-->
<!--        bookingLink="https://www.booking.com/hotel/de/restaurant-fronma1-4hle.de.html"-->
<!--        webLink="https://www.hotel-fronmuehle.de/"-->
<!--        [info]="true">-->
<!--      </app-hotelinfo>-->
    </div>
  </div>
</div>
