<div class="container" style="padding-top: 10px">
  <div class="row text-euphoria text-size-big">
    <div class="col-sm text-center">Hotels</div>
  </div>
  <div class="row font-avenir-book mobile-font">
    <div class="col-sm text-center">Hier findet ihr eine Auswahl an Hotels, die wir euch vorschlagen.
      Hotels, die mit <span><i class="bi-alarm"></i></span> gekennzeichnet sind, müssen telefonisch oder per Email reserviert werden,
      da hier die Buchungsportale für den kommenden Sommer noch nicht freigeschalten sind.</div>
  </div>
  <div class="row">
    <div class="col-sm text-center mt-2">
      <app-hotelinfo
        hotelName="Kurparkhotel"
        street="Schlossplatz 1-4"
        city="67098 Bad Dürkheim"
        phone="+49 (0) 6322 797-0"
        email="info@kurpark-hotel.de"
        bookingLink="https://www.booking.com/hotel/de/kurpark.en-gb.html"
        webLink="https://www.kurpark-hotel.de/index.php?lang=de">
      </app-hotelinfo>
    </div>
    <div class="col-sm text-center mt-2">
      <app-hotelinfo
        hotelName="Fronmühle"
        street="Salinenstr. 15"
        city="67098 Bad Dürkheim"
        phone="+49 (0) 6322 94090"
        email="info@hotel-fronmuehle.de"
        bookingLink="https://www.booking.com/hotel/de/restaurant-fronma1-4hle.de.html"
        webLink="https://www.hotel-fronmuehle.de/">
      </app-hotelinfo>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center mt-2">
      <app-hotelinfo
        hotelName="Kaisergarten"
        street="Weinstr. 12"
        city="67146 Deidesheim"
        phone="+49 (0) 6326 700077"
        email="info@kaisergarten-deidesheim.com"
        bookingLink="https://www.booking.com/hotel/de/kaisergarten-amp-spa-deidesheim.de.html"
        webLink="https://www.kaisergarten-deidesheim.com/">
      </app-hotelinfo>
    </div>
    <div class="col-sm text-center mt-2">
      <app-hotelinfo
        hotelName="Mercure"
        street="Kurbrunnenstr. 30-32"
        city="67098 Bad Dürkheim"
        bookingLink="http://www.booking.com/Share-y3Ikvg">
      </app-hotelinfo>
    </div>
  </div>
</div>
