<app-navigation (link)="navigateToLink($event)"></app-navigation>

<div>

  <div class="container-fluid pt-2 pb-4" style="background-color: #a9832380">
    <div class="row text-center">
      <div class="col-sm text-euphoria text-size-big">Die Auis heiraten!</div>
    </div>
    <div class="row text-center mb-2">
      <div class="col-sm">
        <span><img class="image-size" src="assets/smile-modified.png" alt=""></span>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm font-avenir-book text-size-body">am 23. Juli 2022</div>
    </div>
    <div class="row text-center mt0">
      <div class="col-sm font-avenir-book text-size-body">in der Sektkellerei Schloss Wachenheim</div>
    </div>
  </div>

  <app-countdown></app-countdown>

  <div style="background-color: #a9832380; padding-bottom: 24px">
  <app-hotels id="hotels"></app-hotels>
  <app-lage id="location"></app-lage>
  </div>

</div>


<app-footer></app-footer>

<router-outlet></router-outlet>
