<!--<div class="container pt-4">-->
<!--  <div class="row font-size-countdown font-avenir-book">-->
<!--    <div class="col-sm text-center">-->
<!--      <div class="time-container">-->
<!--        <div>Tage</div>-->
<!--        <div>{{days}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm text-center ">-->
<!--      <div class="time-container">-->
<!--        <div>Stunden</div>-->
<!--        <div>{{hours}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm text-center">-->
<!--      <div class="time-container">-->
<!--        <div>Minuten</div>-->
<!--        <div>{{minutes}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-sm text-center">-->
<!--      <div class="time-container">-->
<!--        <div>Sekunden</div>-->
<!--        <div>{{seconds}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container pt-4 pb-4">
  <div style="display: flex; flex-direction: row; justify-content: center" class="row font-size-countdown font-avenir-book">

      <div class="time-container" style="margin-right: 12px">
        <div>Tage</div>
        <div class="time-highlight">{{days}}</div>
      </div>


      <div class="time-container" style="margin-right: 12px">
        <div>Stunden</div>
        <div class="time-highlight">{{hours}}</div>
      </div>


      <div class="time-container" style="margin-right: 12px">
        <div>Minuten</div>
        <div class="time-highlight">{{minutes}}</div>
      </div>


      <div class="time-container">
        <div>Sekunden</div>
        <div class="time-highlight">{{seconds}}</div>
      </div>

  </div>
</div>
